{% extends "base.html" %}

{% load staticfiles %}

{% block title_prefix %}Hosted Services{% endblock %}
{% block ng_app_module %}thadmin{% endblock %}
{% block ngapp_scripts %}
<script type="text/javascript" src="{% static "js/thadmin/thadmin-util.js" %}"></script>
<script type="text/javascript" src="{% static "js/thadmin/AuthController.js" %}"></script>
<script type="text/javascript" src="{% static "js/thadmin/ZoneControllers.js" %}"></script>
<script type="text/javascript" src="{% static "js/thadmin/AccountsControllers.js" %}"></script>
<script type="text/javascript" src="{% static "js/thadmin/OrderControllers.js" %}"></script>
<script type="text/javascript" src="{% static "js/thadmin/thadmin.js" %}"></script>
{% endblock %}