<h1>DNS Records for {{ zone_name }}</h1>

<div id="loading_message" ng-show="loading">
    <div id="spinner_box" class="spinner_box"></div>
    Loading zone records...
</div>

<div ng-show="loading == false">
    <p><strong>IMPORTANT NOTE:</strong> All records that refer to another DNS name (CNAME, MX, etc) ARE RELATIVE
        to your domain! If you are referencing a name in a different domain, the value MUST end with a dot.</p>
    <p><em>Example:</em> The MX record "10 mail" refers to "mail.yourdomain.com". The MX record
        "10 mail.anotherdomain.com." refers to "mail.anotherdomain.com".</p>
</div>

<div class="table_cell" ng-show="loading == false">
    <div class="space_below" ng-repeat="rt in record_types">
        <h2>{{ rt }} Records</h2>
        <table id="records_table" class="pure-table pure-table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th style="min-width: 10em">Name</th>
                    <th style="min-width: 5em">TTL</th>
                    <th style="min-width: 12em">Value</th>
                    <th style="min-width: 4em">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(recidx, rec) in records[rt]">
                    <td>{{ rec.name }}</td>
                    <td>{{ rec.ttl }}</td>
                    <td>{{ rec.value }}</td>
                    <td id="edit_controls_{{ rt }}_{{ recidx }}" style="text-align: center"
                        ng-click="delete_record(rt, rec, recidx, true, $event);">

                        <i class="icon-pencil yellow_hover pointer space_right_tiny"
                            ng-show="! shown_delete_confirm[rt + '_' + recidx]"
                            ng-click="edit_record(rt, rec, true);"></i>
                        <i class="icon-remove red_hover pointer space_right_tiny"
                            ng-show="! shown_delete_confirm[rt + '_' + recidx]"
                            ng-click="delete_record(rt, rec, recidx, false, $event);"></i>

                        <span ng-show="shown_delete_confirm[rt + '_' + recidx]" class="smaller_text"
                            style="color: #FFFFFF; cursor: pointer">Delete</span>

                    </td>
                </tr>
            </tbody>
        </table>
        <button id="add_{{ rt }}_record" class="pure-button smaller_text space_above"
            ng-show="shown_forms[rt] == false" ng-click="edit_record(rt, {}, false);">
            Add {{ rt }} Record</button>

        <form id="add_{{ rt }}_form" class="pure-form pure-form-stacked" ng-show="shown_forms[rt] == true">
            <fieldset>
                <legend>Edit {{ rt }} Record</legend>

                <div class="form_error space_below" ng-show="form_errors != 0">
                    <ul class="error_list">
                        <li ng-repeat="(field, error) in form_errors">
                            <i class="icon-warning-sign space_right_tiny"></i>{{ error }}
                        </li>
                    </ul>
                </div>

                <label for="{{ rt }}_record_name">Record Name</label>
                <input id="{{ rt }}_record_name" type="text" ng-model="edited_record.name"
                    style="width: 25em">

                <label for="{{ rt }}_record_name">TTL</label>
                <input id="{{ rt }}_record_name" type="text" ng-model="edited_record.ttl"
                    style="width: 25em">

                <label for="{{ rt }}_record_name">Value</label>
                <input id="{{ rt }}_record_name" type="text" ng-model="edited_record.value"
                    style="width: 25em">

                <div id="{{ rt }}_form_controls" class="space_above smaller_text">
                    <button id="create_{{ rt }}_record_button" class="pure-button"
                        ng-click="save_record(rt);">Save {{ rt }} Record</button>
                    <button id="cancel_{{ rt }}_record_button" class="pure-button space_left"
                        ng-click="cancel_record(rt);">Cancel</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>