<h1>DNS Zone Manager</h1>
<p>Select a DNS zone from the list below to edit its records.</p>

<h2 ng-show="userinfo.is_superuser == false">Zones Managed by You</h2>
<h2 ng-show="userinfo.is_superuser">Complete List of Hosted Zones</h2>

<div id="loading_message" ng-show="loading == true">
    <div id="spinner_box" class="spinner_box"></div>
    Loading zone list...
</div>

<ul class="data_list" ng-repeat="zone in zonelist">
    <li>
        <span class="edit_controls" ng-show="userinfo.is_superuser">
            <i class="icon-remove red_hover pointer space_right_tiny" ng-click="del_zone(zone);"></i>
            <i class="icon-pencil yellow_hover pointer space_right_small" ng-click="del_zone(zone);"></i>
        </span>
        <a href="#/zoneman/zone/{{ zone.zone_name }}">{{ zone.zone_name }}</a>
    </li>
</ul>

<div id="zone_admin_buttons" class="smaller_text space_above" ng-show="userinfo.is_superuser">
    <a id="add_zone_button" class="pure-button" href="#/zoneman/zoneadd">Add Zone</a>
</div>