html {
    background: #FFFFFF;
    color: #222222;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
}

.clearing:before, .clearing:after {
    content:"";
    display:table;
}
.clearing:after {
    clear:both;
}

.clear_right {
    clear: right;
}

.clear_left {
    clear: left;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.nowrap {
    white-space: nowrap;
}

.light {
    background-color: #FFFFFF;
    color: #222222;
}

.grey {
    background-color: #F0F0F0;
    color: #222222;
}

.dark {
    background-color: #222222;
    color: #FFFFFF;
}

input[type="text"], input[type="password"] {
    font-family: 'Noto Sans', sans-serif;
}

header {
    background-image: url('../img/header-icon.png');
    background-position: 16px center;
    background-repeat: no-repeat;

    height: 80px;
    line-height: 80px;
    padding: 0px 0px 0px 96px;

    font-size: 2em;

    overflow: hidden;
}

#container {
    padding: 0em 0em 3em 0em;
    margin: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;

    height: 2em;
    line-height: 2em;
    width: 100%;

    text-align: center;
}

a {
    color: #006137;
    text-decoration: none;
}

a:visited {
    color: #006137;
}

a:active {
    color: #006137;
}

a:hover {
    color: #d6bd00;
}

.dark a {
    color: #4dffb2;
}

.dark a:visited {
    color: #4dffb2;
}

.dark a:active {
    color: #4dffb2;
}

.dark a:hover {
    color: #fcff4d;
}

a.no_decoration {
    color: inherit;
}

a.no_decoration:hover {
    color: inherit;
}

button.pure-button, a.pure-button {
    font-family: 'Noto Sans', sans-serif;
    background-color: #006137;
    color: #FFFFFF;
}

.icons-ul {
    margin: 0;
}

.pure-table td, .pure-table th {
    padding: 0.3em 2em;
}

.grey label {
    color: #444444;
}

.space_left {
    margin-left: 1.5em;
}

.space_right {
    margin-right: 1.5em;
}

.space_sides {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.space_below {
    margin-bottom: 1em;
}

.space_above {
    margin-top: 1em;
}

.space_left_tiny {
    margin-left: 0.25em;
}

.space_right_tiny {
    margin-right: 0.25em;
}

.space_sides_tiny {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.space_below_tiny {
    margin-bottom: 0.25em;
}

.space_above_small {
    margin-top: 0.5em;
}

.space_left_small {
    margin-left: 0.5em;
}

.space_right_small {
    margin-right: 0.5em;
}

.space_sides_small {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.space_below_small {
    margin-bottom: 0.5em;
}

.space_above_small {
    margin-top: 0.5em;
}

.space_left_large {
    margin-left: 3em;
}

.space_right_large {
    margin-right: 3em;
}

.space_sides_large {
    margin-left: 3em;
    margin-right: 3em;
}

.space_below_large {
    margin-bottom: 3em;
}

.space_above_large {
    margin-top: 3em;
}


.button_padding {
    display: inline-block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.smaller_text {
    font-size: 0.8em;
}

.red_text {
    color: #610000 !important;
}

.red_bg {
    background-color: #610000 !important;
}

.dark_hover, .red_hover, .yellow_hover {
    color: #AAAAAA;
}

.dark_hover:hover {
    color: #222222;
}

.red_hover:hover {
    color: #610000;
}

.yellow_hover:hover {
    color: #c2bb00;
}

.pointer {
    cursor: pointer;
}

.table_cell {
    display: table-cell;
}

.center_text {
    text-align: center;
}

.spinner_box {
    display: inline-block;
    height: 34px;
    width: 34px;
    vertical-align: middle;
}

.vmiddle {
    vertical-align: middle;
}

p {
    margin: 0.5em 0em;
    line-height: 150%;
}

h1, h2, h3, h4, h5, h6 {
    color: #222222;
    padding: 0.5em 0em;
    margin: 0;
}

h1 {
    font-size: 2em;
    font-weight: 400;
}

h2 {
    font-size: 1.4em;
    font-weight: 400;
}

h3 {
    font-size: 1.2em;
    font-weight: 400;
}

#application_header {
    padding: 0.5em 16px;
    font-size: 0.8em;
}

#app_header_left {
    float:left;
    text-align: left;
}

#app_header_right {
    float: right;
    text-align: right;
}

#application_view {
    padding: 0em 4em;
}
.service_card {
    padding: 1em;
    cursor: pointer;
}

.service_card:hover {
    background-color: #F0F0F0;
}

.service_card_header {
    height: 48px;
    line-height: 48px;
    font-size: 1.4em;
    margin-bottom: 0.5em;
    font-weight: 700;
}

.service_card_header img {
    vertical-align: middle;
    margin-right: 16px;
}

.service_card_body {
    padding-left: 64px;
}

.form_error {
    padding: 0.5em 1em;
    background-color: #610000;

    border-radius: 2px 2px 2px 2px;

    font-size: 0.8em;
    color: #FFFFFF;
}

.dialog {
    display: table;
    margin: 3em auto;
    padding: 2em;
    white-space: nowrap;
    word-spacing: 0;
    border-radius: 4px 4px 4px 4px;
}

.dialog .dialog_header {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.dialog .dialog_header img {
    margin-right: 16px;
    vertical-align: middle;
}

.dialog .pure-button {
    font-size: 0.8em;
}

.dialog_body input[type="text"], .dialog_body input[type="password"] {
    width: 25em;
}

.dialog_body p {
    max-width: 35em;
    white-space: normal;
}

.dialog_wide .dialog_body input[type="text"], .dialog_wide .dialog_body input[type="password"] {
    width: 50em;
}

.dialog_wide .dialog_body p {
    max-width: 60em;
    white-space: normal;
}

ul.data_list {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.data_list a {
    color: inherit;
}

ul.data_list a:hover {
    color: inherit;
}

ul.data_list li {
    margin: 0;
    padding: 0.5em 1em;
}

ul.data_list li:hover {
    background-color: #F0F0F0;
}

.grey ul.data_list li:hover {
    background-color: #DDDDDD;
}

ul.error_list {
    list-style: none;
    margin: 0;
    padding: 0;
}

span.edit_controls {
    display: inline-block;
    margin-left: -2em;
}

div.passrule_pass {
    color: #006137;
    background-color: #99ffd3;
    border-radius: 4px;
    border: 1px solid #006137;
    margin: 0.25em 0em;
    padding: 0.5em 1.5em;
}

div.passrule_fail {
    color: #610000;
    background-color: #ff9999;
    border-radius: 4px;
    border: 1px solid #610000;
    margin: 0.25em 0em;
    padding: 0.5em 1.5em;
}

div.passrule_na {
    color: #303030;
    background-color: #cccccc;
    border-radius: 4px;
    border: 1px solid #303030;
    margin: 0.25em 0em;
    padding: 0.5em 1.5em;
}

div.service_list_item {
    padding: 1em 0em;
    margin: 0em 0em;
    border-bottom: 1px solid #AAAAAA;

}

span.align_left_15 {
    display: inline-block;
    width: 15em;
    text-align: left;
}

div.column_wrapper {
    width: 100%;
    float: left;
}

div.content_right_menu {
    margin-right: 25em;
}

div.right_menu {
    float: left;
    width: 25em;
    margin-left: -25em;
    padding: 0em 0em 2em 0em;
    border-radius: 4px;
}