<div id="loading_message" ng-show="loading == true">
    <h1>Account Summary</h1>
    <div id="load_spin" class="spinner_box"></div>
    Loading account summary...
</div>

<div ng-show="loading == false">
    <div class="clearing">
        <div class="float_left space_right">
            <h1>Account Summary</h1>
            <p>
                <span class="align_left_15"><strong>Account ID:</strong></span>
                    {{ summary.account_id }}<br>
                <span class="align_left_15"><strong>Account Holder:</strong></span>
                    {{ summary.first_name }} {{ summary.last_name }}<br>
                <span class="align_left_15"><strong>Street Address:</strong></span>
                    {{ summary.street_address }}<br>
                <span class="align_left_15"><strong>City:</strong></span>
                    {{ summary.city }}<br>
                <span class="align_left_15"><strong>State:</strong></span>
                    {{ summary.state }}<br>
                <span class="align_left_15"><strong>ZIP Code:</strong></span>
                    {{ summary.zipcode }}<br>
                <span class="align_left_15"><strong>Phone Number:</strong></span>
                    {{ summary.phone }}<br>
            </p>
        </div>
        <div class="float_right space_right_large">
            <h1>Account Menu</h1>
            <ul class="data_list pointer">
                <li>
                    <img class="vmiddle space_right_small"
                        src="/static/img/edit32.png" alt="Edit Icon">
                    Edit Information
                </li>
                <li>
                    <img class="vmiddle space_right_small"
                        src="/static/img/servicecredit32.png" alt="Service Credit Icon">
                    Service Credits
                </li>
                <li>
                    <img class="vmiddle space_right_small"
                        src="/static/img/accountprocess32.png" alt="Account Process Icon">
                    Account Processes
                </li>
                <li>
                    <img class="vmiddle space_right_small"
                        src="/static/img/order32.png" alt="Order Icon">
                    Order History
                </li>
                <li>
                    <img class="vmiddle space_right_small"
                        src="/static/img/accountmanager32.png" alt="Account Manager Icon">
                    Account Managers
                </li>
            </ul>
        </div>
    </div>

    <h2>Available Service Credits</h2>

    <table class="pure-table pure-table-striped">
        <thead>
            <tr>
                <th>Credit ID</th>
                <th>Service</th>
                <th>Issued Date/Time</th>
                <th>Expires Date/Time</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="sc in summary.sc_available">
                <td>{{ concise_uuid(sc.service_credit_id) }}</td>
                <td>{{ service_codes[sc.service_code] }}</td>
                <td>{{ f_datetime(sc.issued_datetime) }}</td>
                <td>{{ f_datetime(sc.expires_datetime) }}</td>
            </tr>
        </tbody>
    </table>

    <div class="space_above_small space_below">
        <a href="#/accounts/{{ summary.account_id }}/service_credits">
        View All Service Credits</a>
    </div>

    <h2>In-Use Service Credits</h2>

    <table class="pure-table pure-table-striped">
        <thead>
            <tr>
                <th>Credit ID</th>
                <th>Service</th>
                <th>Expires Date/Time</th>
                <th>Used For</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="sc in summary.sc_inuse">
                <td>{{ concise_uuid(sc.service_credit_id) }}</td>
                <td>{{ service_codes[sc.service_code] }}</td>
                <td>{{ f_datetime(sc.expires_datetime) }}</td>
                <td>{{ sc.used_for }}</td>
            </tr>
        </tbody>
    </table>

    <div class="space_above_small space_below">
        <a href="#/accounts/{{ summary.account_id }}/service_credits">
        View All Service Credits</a>
    </div>

    <h2>Active Account Processes</h2>

    <table class="pure-table pure-table-striped">
        <thead>
            <tr>
                <th>Submit Date/Time</th>
                <th>Description</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="proc in summary.active_processes">
                <td>{{ f_datetime(proc.submit_datetime) }}</td>
                <td>{{ proc.description }}</td>
                <td>{{ process_states[proc.process_state] }}</td>
            </tr>
        </tbody>
    </table>

    <div class="space_above_small space_below">
        <a href="#/accounts/{{ summary.account_id }}/processes">
        View All Account Processes</a>
    </div>

    <h2>Recent Orders</h2>

    <table class="pure-table pure-table-striped">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Submit Date/Time</th>
                <th>Submitter Email</th>
                <th>State</th>
                <th>Order Total</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in summary.recent_orders">
                <td>
                    <a href="#/accounts/orders/{{ order.id }}">
                        {{ order.id }}</a>
                </td>
                <td>{{ f_datetime(order.submit_datetime) }}</td>
                <td>{{ order.submitter_email }}</td>
                <td>{{ order_states[order.order_state] }}</td>
                <td>{{ order.total_usd | currency }}</td>
            </tr>
        </tbody>
    </table>

    <div class="space_above_small space_below">
        <a href="#/accounts/{{ summary.account_id }}/orders">
        View All Orders</a>
    </div>
</div>