<h1>Account List</h1>

<div id="loading_message" ng-show="loading == true">
    <div id="load_spin" class="spinner_box"></div>
    Loading accounts list...
</div>

<div ng-show="loading == false">
    <table id="accounts_table" class="pure-table pure-table-striped">
        <thead>
            <tr>
                <th>Account ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="acc in accounts">
                <td>{{ acc.account_id }}</td>
                <td>{{ acc.last_name }}</td>
                <td>{{ acc.first_name }}</td>
                <td>{{ acc.phone }}</td>
            </tr>
        </tbody>
    </table>

    <div class="space_above smaller_text">
        <a id="manage_invitations_button" class="pure-button"
            href="#/accounts/invitations">Manage Invitations</a>
    </div>
</div>