<div id="create_account_dialog" class="dialog grey">
    <div class="dialog_header">Create Account</div>
    <div class="dialog_body">
        <div class="form_error space_below" ng-show="invite_invalid">
            <i class="icon-warning-sign space_right_tiny"></i>
            The invitation code you entered is invalid or has already been redeemed.
        </div>

        <form id="create_account_form" class="pure-form pure-form-aligned">
            <fieldset>
                <div class="pure-control-group">
                    <label for="first_name">First Name</label>
                    <input id="first_name" type="text" ng-model="account.first_name"
                        ng-disabled="saving">
                </div>
                <div class="red_text space_below" ng-show="errors.first_name">
                    <i class="icon-warning-sign space_right_tiny"></i>{{ errors.first_name }}
                </div>

                <div class="pure-control-group">
                    <label for="last_name">Last Name</label>
                    <input id="last_name" type="text" ng-model="account.last_name"
                        ng-disabled="saving">
                </div>
                <div class="red_text space_below" ng-show="errors.last_name">
                    <i class="icon-warning-sign space_right_tiny"></i>{{ errors.last_name }}
                </div>

                <div class="pure-control-group">
                    <label for="street_address">Street Address</label>
                    <input id="street_address" type="text" ng-model="account.street_address"
                        ng-disabled="saving">
                </div>
                <div class="red_text space_below" ng-show="errors.street_address">
                    <i class="icon-warning-sign space_right_tiny"></i>{{ errors.street_address }}
                </div>

                <div class="pure-control-group">
                    <label for="city">City</label>
                    <input id="city" type="text" ng-model="account.city"
                        ng-disabled="saving">
                </div>
                <div class="red_text space_below" ng-show="errors.city">
                    <i class="icon-warning-sign space_right_tiny"></i>{{ errors.city }}
                </div>

                <div class="pure-control-group">
                    <label for="state">State</label>
                    <select id="state" ng-model="account.state" ng-disabled="saving">
                        <option value="AL">AL</option><option value="AK">AK</option>
                        <option value="AZ">AZ</option><option value="AR">AR</option>
                        <option value="CA">CA</option><option value="CO">CO</option>
                        <option value="CT">CT</option><option value="DE">DE</option>
                        <option value="DC">DC</option><option value="FL">FL</option>
                        <option value="GA">GE</option><option value="HI">HI</option>
                        <option value="ID">ID</option><option value="IL">IL</option>
                        <option value="IN">IN</option><option value="IA">IA</option>
                        <option value="KS">KS</option><option value="KY">KY</option>
                        <option value="LA">LA</option><option value="ME">ME</option>
                        <option value="MD">MD</option><option value="MA">MA</option>
                        <option value="MI">MI</option><option value="MN">MN</option>
                        <option value="MS">MS</option><option value="MO">MO</option>
                        <option value="MT">MT</option><option value="NE">NE</option>
                        <option value="NV">NV</option><option value="NH">NH</option>
                        <option value="NJ">NJ</option><option value="NM">NM</option>
                        <option value="NY">NY</option><option value="NC">NC</option>
                        <option value="ND">ND</option><option value="OH">OH</option>
                        <option value="OK">OK</option><option value="OR">OR</option>
                        <option value="PA">PA</option><option value="RI">RI</option>
                        <option value="SC">SC</option><option value="SD">SD</option>
                        <option value="TN">TN</option><option value="TX">TX</option>
                        <option value="UT">UT</option><option value="VT">VT</option>
                        <option value="VA">VA</option><option value="WA">WA</option>
                        <option value="WV">WV</option><option value="WI">WI</option>
                        <option value="WY">WY</option>
                    </select>
                </div>
                <div class="red_text space_below" ng-show="errors.state">
                    <i class="icon-warning-sign space_right_tiny"></i>{{ errors.state }}
                </div>

                <div class="pure-control-group">
                    <label for="zipcode">ZIP Code</label>
                    <input id="zipcode" type="text" ng-model="account.zipcode"
                        ng-disabled="saving">
                </div>
                <div class="red_text space_below" ng-show="errors.zipcode">
                    <i class="icon-warning-sign space_right_tiny"></i>{{ errors.zipcode }}
                </div>

                <div class="pure-control-group">
                    <label for="phone">Phone Number</label>
                    <input id="phone" type="text" ng-model="account.phone"
                        ng-disabled="saving">
                </div>
                <div class="red_text space_below" ng-show="errors.phone">
                    <i class="icon-warning-sign space_right_tiny"></i>{{ errors.phone }}
                </div>

                <div id="create_account_form_buttons" class="space_above">
                    <button id="create_button" class="pure-button" type="submit"
                        ng-click="create_account();" ng-disabled="saving">Create Account</button>
                    <div id="save_spin" class="spinner_box space_left"></div>
                </div>
            </fieldset>
        </form>
    </div>
</div>