<h1 id="order_top">Current Order</h1>

<div ng-show="current_order.length > 0">
    <div class="form_error space_below" ng-show="order_error">
        <i class="icon-warning-sign space_right_tiny"></i>{{ order_error }}
    </div>

    <table class="pure-table pure-table-striped">
        <thead>
            <tr>
                <th class="dark_hover pointer" ng-click="toggle_all();">
                    <i class="icon-check"></i>
                </th>
                <th>Service</th>
                <th>Days</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Line Price</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(idx, order_line) in current_order">
                <td><input type="checkbox" ng-model="order_line.selected"
                    ng-disabled="saving"></td>
                <td>{{ order_line.name }}</td>
                <td>{{ order_line.duration_days }}</td>
                <td>{{ order_line.unit_price_usd | currency }}</td>
                <td>
                    <input type="number" style="width: 2em"
                        ng-model="order_line.quantity" ng-change="quantity_changed(idx);"
                        ng-disabled="saving">
                </td>
                <td>{{ order_line.line_price_usd | currency }}</td>
            </tr>
            <tr>
                <td colspan="5">Sub-Total</td>
                <td>{{ order_subtotal | currency }}</td>
            </tr>
            <tr>
                <td colspan="5">Processing Fee</td>
                <td>{{ order_fees | currency }}</td>
            </tr>
            <tr>
                <td colspan="5"><strong>Total</strong></td>
                <td><strong>{{ order_total | currency }}</strong></td>
            </tr>
        </tbody>
    </table>

    <div id="order_controls" class="space_above smaller_text">
        <button id="remove_order_lines_button" class="pure-button red_bg"
            ng-click="remove_order_lines();" ng-disabled="saving">Remove Selected</button>
        <button id="check_out_button" class="pure-button space_left"
            ng-click="check_out();" ng-disabled="saving">Check Out</button>
        <div id="save_spin" class="spinner_box space_left"></div>
    </div>
</div>

<p ng-show="current_order.length == 0">No items in current order.</p>

<h1>Available Services</h1>

<div id="loading_message" ng-show="loading == true">
    <div id="load_spin" class="spinner_box"></div>
    Loading services list...
</div>

<div ng-show="loading == false">
    <div class="service_list_item" ng-repeat="(idx, svc) in services"
        ng-show="! order_contains(svc.id);">
        <h2>{{ svc.name }}</h2>
        <p>{{ svc.short_description }}</p>
        <div class="space_above">
            <button class="pure-button smaller_text"
                ng-click="add_to_order(idx);">Add To Order</button>
            <span class="space_left">
                {{ svc.price_usd | currency }} per {{ svc.duration_days }} days.
            </span>
        </div>
    </div>
</div>