<h1>Invitation List</h1>

<div id="loading_message" ng-show="loading == true">
    <div id="load_spin" class="spinner_box"></div>
    Loading invitation list...
</div>

<div ng-show="loading == false">
    <table id="invitations_table" class="pure-table pure-table-striped">
        <thead>
            <tr>
                <th>Invite Code</th>
                <th>Issued To Name</th>
                <th>Issued To Mail</th>
                <th>Issued On</th>
                <th>Redeemed On</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="inv in invitations">
                <td>{{ inv.invite_code }}</td>
                <td>{{ inv.issued_to_name }}</td>
                <td>{{ inv.issued_to_mail }}</td>
                <td>{{ f_datetime(inv.issued_datetime) }}</td>
                <td>{{ f_datetime(inv.redeemed_datetime) }}</td>
                <td id="edit_{{ inv.invite_code }}" style="text-align: center"
                    ng-click="delete_invite(inv.invite_code, true, $event);">
                    <i class="icon-remove red_hover pointer"
                        ng-show="! shown_delete_confirm[inv.invite_code]"
                        ng-click="delete_invite(inv.invite_code, false, $event);"></i>

                    <span ng-show="shown_delete_confirm[inv.invite_code]"
                        class="smaller_text pointer" style="color: #FFFFFF">Delete</span>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="space_above smaller_text">
        <button class="pure-button" ng-show="shown_create_form == false"
            ng-click="show_create_form();">Create Invitation</button>
    </div>
    <form id="create_invite_form" class="pure-form pure-form-stacked"
        ng-show="shown_create_form == true">

        <fieldset>
            <legend>Create Invitation</legend>

            <label for="issued_to_name">Issued To Name</label>
            <input id="issued_to_name" type="text" style="width: 25em"
                ng-model="new_invite.issued_to_name">

            <label for="issued_to_mail">Issued To Mail</label>
            <input id="issued_to_mail" type="text" style="width: 25em"
                ng-model="new_invite.issued_to_mail">
            
            <div id="create_invite_controls" class="space_above smaller_text">
                <button id="create_invite" class="pure-button" ng-disabled="saving == true"
                    ng-click="create_invite();">Create Invitation</button>
                <div id="save_spin" class="spinner_box space_left"></div>
            </div>
        </fieldset>
    </form>
</div>