<div id="redeem_invite_dialog" class="dialog dialog_wide grey">
    <div class="dialog_header">Redeem Hosting Invitation</div>
    <div class="dialog_body">
        <div class="form_error space_below" ng-show="invite_invalid">
            <i class="icon-warning-sign space_right_tiny"></i>
            The invitation code you entered is invalid or has already been redeemed.
        </div>

        <form id="redeem_invite_form" class="pure-form pure-form-stacked">
            <fieldset>
                <label for="invite_code">Invitation Code</label>
                <input id="invite_code" type="text" ng-model="invite_code"
                    ng-disabled="saving">

                <div id="redeem_invite_form_buttons" class="space_above">
                    <button id="redeem_button" class="pure-button" type="submit"
                        ng-click="redeem_invite();" ng-disabled="saving">Redeem Invite</button>
                    <div id="save_spin" class="spinner_box space_left"></div>
                </div>
            </fieldset>
        </form>
    </div>
</div>