<div id="loading_message" ng-show="loading == true">
    <div id="load_spin" class="spinner_box"></div>
    Loading service record...
</div>

<div id="edit_service_dialog" class="dialog dialog_wide grey" ng-show="loading == false">
    <div class="dialog_header" ng-show="record.id > 0">Edit Service Record</div>
    <div class="dialog_header" ng-show="record.id == 0">Create Service Record</div>
    <div><a href="#/accounts/services">← Return to services list</a>
    <div class="dialog_body">
        <div class="form_error space_below" ng-show="errors">
            <ul class="error_list icons-ul">
                <li ng-repeat="(field, error) in errors">
                    <i class="icon-li icon-warning-sign"></i>{{ field }}: {{ error[0] }}
                </li>
            </ul>
        </div>

        <form id="edit_service_form" class="pure-form pure-form-stacked">
            <fieldset>
                <label for="name">Service Name</label>
                <input id="name" type="text" ng-model="record.name"
                    ng-disabled="saving">

                <label for"service_codes">Service Codes</label>
                <input id="service_codes" type="text" ng-model="record.service_codes"
                    ng-disabled="saving">

                <label for"short_description">Short Description</label>
                <input id="short_description" type="text" ng-model="record.short_description"
                    ng-disabled="saving">

                <label for"duration_days">Duration (Days)</label>
                <input id="duration_days" type="text" ng-model="record.duration_days"
                    ng-disabled="saving">

                <label for"price_usd">Price USD</label>
                <input id="price_usd" type="text" ng-model="record.price_usd"
                    ng-disabled="saving">

                <div id="edit_service_form_buttons" class="space_above">
                    <button id="save_button" class="pure-button" type="submit"
                        ng-click="save_record();" ng-disabled="saving">Save Service</button>
                    <button id="delete_button" class="pure-button red_bg space_left_small" type="button"
                        ng-click="show_confirm_delete();" ng-show="record.id > 0 && confirm_delete != true"
                        ng-disabled="saving">Delete Service</button>
                    <button id="confirm_delete_button" class="pure-button red_bg space_left_small"
                        type="button" ng-click="delete_record();" ng-show="confirm_delete"
                        ng-disabled="saving">Confirm Delete Service</button>
                    <div id="save_spin" class="spinner_box space_left"></div>
                </div>
            </fieldset>
        </form>
    </div>
</div>