<div id="set_password_dialog" class="dialog grey">
    <div class="dialog_header">
        <img src="/static/img/password.png">
        Set Password
    </div>

    <div class="dialog_body">
        <form id="set_password_form" class="pure-form pure-form-aligned">
            <fieldset>
                <div class="pure-control-group">
                    <label for="password">Password:</label>
                    <input id="password" type="password" ng-model="password"
                        ng-disabled="saving" ng-change="password_changed();">
                    <i class="icon-thumbs-up-alt space_left_small"
                        ng-show="rules.valid == true"></i>
                    <i class="icon-thumbs-down-alt space_left_small"
                        ng-show="rules.valid == false"></i>
                </div>
                <div class="pure-control-group">
                    <label for="confirm_password">Confirm Password:</label>
                    <input id="confirm_password" type="password" ng-model="confirm_password"
                        ng-disabled="saving" ng-change="confirm_changed();">
                    <i class="icon-thumbs-up-alt space_left_small"
                        ng-show="pass_match == true"></i>
                    <i class="icon-thumbs-down-alt space_left_small"
                        ng-show="pass_match == false"></i>
                </div>
                <div id="set_password_controls" class="pure-controls">
                    <button id="set_password_button" class="pure-button"
                        type="submit" ng-click="set_password();"
                        ng-disabled="saving || rules.valid == false || pass_match == false">
                        Set Password</button>
                </div>
            </fieldset>
        </form>
        <div id="password_rules">
            <h3>Password Strength Rules</h3>
            <p class="space_below smaller_text">Your password must meet these requirements. Certain rules don't apply to sufficiently long passwords, and will be shown in grey if your password is long enough.</p>
            <div ng-class="'passrule_' + rules.rules.min_len">
                Password length is at least eight characters.
            </div>
            <div ng-class="'passrule_' + rules.rules.repeat">
                No single character is repeated three or more times.
            </div>
            <div ng-class="'passrule_' + rules.rules.4letters">
                Password contains at least four letters.
            </div>
            <div ng-class="'passrule_' + rules.rules.1number">
                Password contains at least one number.
            </div>
            <div ng-class="'passrule_' + rules.rules.1symbol">
                Password contains at least one symbol.
            </div>
            <div ng-class="'passrule_' + rules.rules.longpass">
                Password length is at at least 18 characters.
            </div>
        </div>
    </div>
</div>