<div id="login_dialog" class="dialog grey">
    <div class="dialog_header">
        <img src="/static/img/login.png" alt="Login">
        THogan.com Login
    </div>

    <div class="dialog_body">
        <div class="form_error space_below" ng-show="auth_state == AS_FAIL">
            <i class="icon-warning-sign space_right_tiny"></i>
            Incorrect login email or password. Please try again.
        </div>
        <form id="login_form" class="pure-form pure-form-aligned">
            <fieldset>
                <div class="pure-control-group">
                    <label for="login_email">Email Address</label><input id="login_email" type="text"
                        ng-model="credentials.email" ng-disabled="auth_state == AS_WORKING">
                </div>
                <div class="pure-control-group">
                    <label for="login_password">Password</label><input id="login_password" type="password"
                        ng-model="credentials.password" ng-disabled="auth_state == AS_WORKING">
                </div>

                <div class="pure-controls">
                    <button id="login_button" class="pure-button" type="submit" ng-click="do_login();"
                        ng-disabled="auth_state == AS_WORKING">Log In</button>
                    <div id="login_spinner" class="spinner_box space_left"></div>
                </div>
            </fieldset>
        </form>
    </div>
</div>